.header {
  height: 80px;
  display: flex;
  background-color: #141414;
}

.header svg {
  height: 55px;
  width: 150px;
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: #fff;
  text-decoration: unset;
}

.header .userLinks {
  display: flex;
  column-gap: 15px;
}

.header .userLinks nav {
  display:flex;
}

.header .userLinks ul {
  display:flex;
  column-gap:20px;
}

.header .userLinks button {
  margin-left:20px;
}
