@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

:root {
  --btn-bg-color:#f50;
}

#root {
  background-color: #f4f4f4;
}